# PostgreSQL connection string
# For local development:
DATABASE_URL="postgresql://username:password@localhost:5432/onefi?schema=public"

# For Neon Serverless Postgres:
# DATABASE_URL="postgresql://username:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# For Supabase:
# DATABASE_URL="postgresql://postgres:password@db.xxx.supabase.co:5432/postgres"

# App Base URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
